<div class="responsive">
<div class="container_picture">
<div class="banner" <%= @event.title %> ></div>
<div class="description">
    <h1><%= @event.title %></h1>
    <p><%= @event.start_date %></p>
    <p><%= @event.start_time %></p>
    <p><%= @event.start_time %></p>
</div>
</div>
</div>
</div>

<div>
<%= link_to "Go back", @event %>
</div>
