<div class= container>
  <div class="card margin-top" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('<%= @event.photo %>');">
    <div class="description">
      <div class="events-show-form">
        <%= link_to bucketlist_path(@bucketlist.first), :class => "empty-bucket" do %>
        <%= image_tag("empty-bucket.png") %>
        <% end %>
      </div>
      <h1><%= @event.title %></h1>
      <p>Address:<%= @event.address.split(",").third%><%= @event.address.split(",").fourth%><%= @event.address.split(",").last%></p>
      <p><%= @event.start_date.strftime("From %d-%m-%Y") %><%= @event.end_date.strftime(" until %d-%m-%Y") %></p>
      <p><%= @event.price.split(",").first%> <%= @event.description %>
      </p>
      <p><%= link_to "Check their website for more info", @event.link, :target => "_blank" %></p>
    </div>
  </div>
</div>

<div class= container>
  <%= link_to "Go back",events_path %>
  <%= simple_form_for (@list_event) do |f| %>
 <%= f.hidden_field :list_event, :value => @event.id  %>
 <%= f.submit value: "Add to your BucketList", class: "btn btn-primary btn-lg button" %>
 <% end %>
</div>

<div class= container>
  <div class="responsive">
    <div id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>
