<div class="responsive">
<div class="container_picture">
<div class="banner" <%= @event.title %> ></div>
<div class="description">
    <h1><%= @event.title %></h1>
    <p><%= @event.start_date %></p>
    <p><%= @event.start_time %></p>
    <p><%= @event.start_time %></p>
</div>
</div>
</div>
</div>
<%= simple_form_for (@list_event) do |f| %>
  <%= f.hidden_field :list_event, :value => @event.id  %>
  <%= f.submit value: "Add to your BucketList", class: "btn btn-primary btn-lg button" %>
  <% end %>

<div>
<%= link_to "Go back", @event %>
</div>
