
<div class="banner banner-home" style="background-image: linear-gradient(-225deg, #101010 0%, rgba(0,36,61,0.5) 0%), url('https://images.pexels.com/photos/6459/sand-summer-outside-playing.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h4>Welcome to </h4>
    <h1>PLAYFINDER</h1>
    <p>Discover your kid's next adventure</p>

    <%= link_to "Search now", search_path , class: "btn-medium" %>

  </div>
  <a class="floating scroll-center" href="#about-container">
    <div id="home-arrow" class="arrow"><%= image_tag "arrow.png" %></div>
  </a>
</div>


<div class="red-wrapper" id="about-container">
  <div id="about" class="container">
    <div class="row three-steps-main">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="center-content">
          <div class="steps column">
            <img class="icon-description" height="50" width="50" src="https://image.flaticon.com/icons/svg/944/944363.svg" />
            <div class="front-description">
              <p>Search through a large database, for all events and playgrounds for your kid. No waste of time.</p>
            </div>
            <%= link_to "Search now", search_path , class: "btn-description" %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="center-content">
          <div class="steps column">
            <img class="icon-description" height="50" width="50" src="https://image.flaticon.com/icons/svg/809/809113.svg" />

            <div class="front-description">
              <p>Like something? Keep it in your bucket list, receive a remind direct in your calender, or email.</p>
            </div>
            <%= link_to "Discover", search_path , class: "btn-description" %>

          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="center-content">
          <div class="steps column">
            <img class="icon-description" height="50" width="50" src="https://image.flaticon.com/icons/svg/809/809448.svg" />

            <div class="front-description">
              <p>Invite your friends, and family in one click: share your favorites events and venues right now. </p>
            </div>
            <%= link_to "Share now", search_path , class: "btn-description" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='wrapper-card' id="inspiration-card">
  <div class="container container-card">
    <div class="cards cards-home">
      <p class="title-home text-center"><span>HAPPENING NOW</span></p>
      <% @events.each do |event| %>
        <div class='event-card'>
          <%= link_to "", event_path(event), class: "card-link" %>
          <div class="img-card" style="background-image: url('<%= event.photo %>');"></div>
          <div class="info">
            <div class="event-name-price">
              <!-- showing only the first 5 words -->
              <h3><span><%= event.title.split(" ").first(5).join(" ")  %></span></h3>
            </div>

            <div class="detail-info">
              <p class="event-date"><%= event.start_date.to_formatted_s(:long_ordinal) %> AMSTERDAM</p>
            </div>
            <div class="desc-likes">
              <p class="desc"><%= event.description %></p>
              <% if user_signed_in? %>
                <ul class="list-inline">
                  <% if @selected_events.include?(event) %>
                    <li>
                      <div class="bucket-disappear">
                        <i class="fa fa-check-circle"></i>
                      </div>

                    </li>

                  <% else %>
                    <li>
                      <%= link_to list_events_path(list_event: {list_event: event.id}), class: "bucket-link", method: :post, remote: true do %>
                        <svg class="event-card-action-icon js-add-to-bookmark icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg>
                      <% end %>
                    </li>
                  <% end %>

                  <li>
                    <a href="">
                      <i class="fa fa-share"></i>
                    </a>
                  </li>
                </ul>
              <% else %>
                <ul class="list-inline">
                  <li>
                    <%= link_to list_events_path(list_event: {list_event: event.id}), class: "bucket-link", method: :post, remote: true do %>
                      <svg class="event-card-action-icon js-add-to-bookmark icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg>
                    <% end %>
                  </li>
                  <li>
                    <a href="">
                      <i class="fa fa-share"></i>
                    </a>
                  </li>
                </ul>
              <% end %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="pink-wrapper">
  <div id="about" class="container">
    <div class="row three-steps-main">
      <p class="title-team text-center"><span>MEET THE TEAM</span></p>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="center-content">
          <div class="steps column">
            <img class="icon-team" height="200" width="200" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/qlq8bylbb7ock6ggknhi.jpg" />
            <div class="team-description">
              <p class="team-name"><span>NATHALIA</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="center-content">
          <div class="steps column">
            <img class="icon-team" height="200" width="200" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/msmtmeifg0x1knic8qrv.jpg" />

            <div class="team-description">
              <p class="team-name"><span>MANDY</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="center-content">
          <div class="steps column">
            <img class="icon-team" height="200" width="200" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/kiceyacskbo82nzemtfp.jpg" />

            <div class="team-description">
              <p class="team-name"><span>LUCIA</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





