<div class="banner banner-home" style="background-image: linear-gradient(-225deg, #101010 0%, rgba(0,36,61,0.5) 0%), url('https://images.pexels.com/photos/6459/sand-summer-outside-playing.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
    <h4>Welcome to </h4>
    <h1>PLAYFINDER</h1>
    <p>Discover your kid's next adventure</p>

    <%= link_to "Search now", search_path , class: "btn-medium" %>

  </div>
      <a class="floating scroll-center" href="#about">
        <div class="arrow"><%= image_tag "arrow.png" %></div>
      </a>
</div>

<!-- <div class="wrapper"> -->

<div id="about" class="container page-container">



  <div class="row three-steps-main">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="center-content">
        <div class="steps column">
          <img class="icon" height="42" width="42" src="https://image.flaticon.com/icons/svg/944/944363.svg" />
              <!-- <h3>SEARCH</h3> -->
              <p>Playfinder was design to make your life easier. Just search through our page to find amazing<br>adventures right in your neighborhood</p>
              <%= link_to "Search now", search_path , class: "btn-medium" %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="center-content">
        <div class="steps column">
          <img class="icon" height="42" width="42" src="https://image.flaticon.com/icons/svg/809/809113.svg" />


            <!-- <h3>BUCKETLIST</h3> -->
              <p>Save your favorite locations into your own personalized list. Don't miss out any of your upcoming<br>events, get a remind in your calender.</p>
              <%= link_to "Search now", search_path , class: "btn-medium" %>

        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="center-content">
        <div class="steps column">
          <img class="icon" height="42" width="42" src="https://image.flaticon.com/icons/svg/809/809448.svg" />


            <!-- <h3>SHARE</h3> -->
            <p>Share the location of any place or event you are attending to with your friends.</p><br>W </p>
            <%= link_to "Search now", search_path , class: "btn-medium" %>


        </div>
      </div>
    </div>
  </div>
  </div>


<div class="card-container">
    <h3>Events coming</h3>
  <div class="row card-row">
    <% @events.each do |event| %>

        <div class="col-sm-4">
          <div class="card-wrapper">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= event.photo %>');">
            </div>
              <div class="card-description">
                <h2><%= event.title %></h2>

              </div>
          </div>
        </div>

    <% end %>
  </div>
</div>
</div>
