<div class="container">
  <%= form_tag search_path, method: :get, :id => "search_form" do |f| %>
  <div class="search-main">
    <%= text_field_tag :query,
    @query,
    class: "form-control",
      placeholder: "Search for activity"
      %>
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search button',:name => nil%>
  </div>


  <div class="search-filters">
    <div class="form-checkbox">
      <%= check_box_tag :age_0_2, "true", @age_0_2%>
      <%= label_tag :age_0_2, "0-2" %>
      <%= check_box_tag :age_3_5, "true", @age_3_5%>
      <%= label_tag :age_3_5, "3-5" %>
      <%= check_box_tag :all_ages, "true", @all_ages%>
      <%= label_tag :all_ages, "All ages" %>
    </div>

    <%= text_field_tag :datepick, @datepick, class: "datepicker", placeholder: "Date"%>

    <div class="form-checkbox">
      <%= check_box_tag 'playground', "true", @playground %>
      <%= label_tag :playground, "Playgrounds" %>
      <%= check_box_tag 'events', "true", @event %>
      <%= label_tag :events, "Events" %>
    </div>
    <% end %>
  </div>
</div>


</div>



<div class='wrapper-card' id="inspiration-card">
  <div class="container container-card">
    <div class="cards cards-bucket">

      <%  @places.each do |place| %>
        <div class="bucket-card">
          <%= link_to "", place_path(place), class: "card-link" %>
          <div class="img-card" style="background-image: url('<%= place.photo %>');"></div>
          <div class="info">
            <div class="event-name-price">
              <!-- showing only the first 5 words -->

              <% if place.events.empty? %>
                  <h3><span><%= place.title.split(" ").first(5).join(" ") %> </h3>
                <% else %>
                <h3><span><%= place.events.first.title.split(" ").first(5).join(" ") %></span> </h3>
              <% end %>
<!--              <h3><span><%#= place.title.split(" ").first(5).join(" ")  %></span></h3>-->
            </div>

            <div class="detail-info">
              <p class="event-date"><%= place.address %></p>
            </div>
            <div class="desc-likes">
              <p class="desc"><%= place.description %></p>
              <% if user_signed_in? %>
                <ul class="list-inline">
                  <% if @selected_places.include?(place) %>
                    <li>
                      <div class="bucket-disappear">
                        <i class="fa fa-check-circle"></i>
                      </div>

                    </li>

                  <% else %>
                    <li>
                      <%= link_to list_places_path(list_place: {list_place: place.id}), class: "bucket-link", method: :post, remote: true do %>
                        <svg class="event-card-action-icon js-add-to-bookmark icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg>
                      <% end %>
                    </li>
                  <% end %>

                </ul>
              <% else %>
                <ul class="list-inline">
                  <li>
                    <%= link_to list_places_path(list_place: {list_place: place.id}), class: "bucket-link", method: :post, remote: true do %>
                      <svg class="event-card-action-icon js-add-to-bookmark icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg>
                    <% end %>
                  </li>

                </ul>
              <% end %>

            </div>
          </div>
        </div>
      <% end %>
      <% @events.each do |event| %>

        <div class="bucket-card" data-event-id="<%= event.id %>">
          <%= link_to "", event_path(event), class: "card-link" %>
          <div class="img-card" style="background-image: url('<%= event.photo %>');"></div>
          <div class="info">
            <div class="event-name-price">
              <!-- showing only the first 5 words -->
              <h3><span><%= event.title.split(" ").first(5).join(" ")  %></span></h3>
            </div>

            <div class="detail-info">
              <p class="event-date"><%= event.start_date.to_formatted_s(:long_ordinal) %> AMSTERDAM</p>
            </div>
            <div class="desc-likes">
              <p class="desc"><%= event.description %></p>
              <% if user_signed_in? %>
                <ul class="list-inline">
                  <% if @selected_events.include?(event) %>
                    <li>
                      <div class="bucket-disappear">
                        <i class="fa fa-check-circle"></i>
                      </div>

                    </li>

                  <% else %>
                    <li>
                      <%= link_to list_events_path(list_event: {list_event: event.id}), class: "bucket-link", method: :post, remote: true do %>
                        <svg class="event-card-action-icon js-add-to-bookmark icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg>
                      <% end %>
                    </li>
                  <% end %>

                </ul>
              <% else %>
                <ul class="list-inline">
                  <li>
                    <%= link_to list_events_path(list_event: {list_event: event.id}), class: "bucket-link", method: :post, remote: true do %>
                      <svg class="event-card-action-icon js-add-to-bookmark icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg>
                    <% end %>
                  </li>

                </ul>
              <% end %>

            </div>
          </div>
        </div>
      <% end %>


    </div>
  </div>
</div>


