<div class="banner-search" style="background-image: linear-gradient(-225deg, #101010 0%, rgba(0,36,61,0.5) 0%), url('https://images.pexels.com/photos/12165/nature-people-girl-forest-12165.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
</div>

<div class="container main-container">
  <div class="cards-container">
    <%= form_tag places_path, method: :get, :id => "search_form" do %>
      <%= text_field_tag :query,
                         params[:query],
                         class: "form-control",
                         placeholder: "Search for activity"
      %>
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search button',:name => nil%>

    <% end %>

    <div class='wrapper-card' id="inspiration-card">

      <div class="cards cards-home">

        <% @events.each do |event| %>
          <div class="bucket-card">
            <%= link_to "", event_path(event), class: "card-link" %>
            <div class="img-card" style="background-image: url('<%= event.photo %>');"></div>
            <div class="info">
              <div class="event-name-price">
                <!-- showing only the first 5 words -->
                <h3><span><%= event.title.split(" ").first(5).join(" ")  %></span></h3>
              </div>

              <div class="detail-info">
                <p class="event-date"><%= event.start_date.to_formatted_s(:long_ordinal) %> AMSTERDAM</p>
              </div>
              <div class="desc-likes">
                <p class="desc"><%= event.description %></p>
                <ul class="list-inline">
                  <li>
                    <%= link_to list_events_path(list_event: {list_event: event.id}), class: "bucket-link", method: :post do %>
                      <svg class="event-card-action-icon js-add-to-bookmark icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg>
                    <% end %>
                  </li>
                  <li>
                    <a href="">
                      <i class="fa fa-share"></i>
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        <% end %>

        <% @places.each do |place| %>
          <div class="bucket-card">
            <%= link_to "", place_path(place), class: "card-link" %>
            <div class="img-card" style="background-image: url('<%= place.photo %>');"></div>
            <div class="info">
              <div class="event-name-price">
                <!-- showing only the first 5 words -->
                <h3><span><%= place.title.split(" ").first(5).join(" ")  %></span></h3>
              </div>

              <div class="detail-info">
                <p class="event-date"><%= place.address %></p>
              </div>
              <div class="desc-likes">
                <p class="desc"><%= place.description %></p>
                <ul class="list-inline">
                  <li>
                    <%= link_to list_places_path(list_place: {list_place: place.id}), class: "bucket-link", method: :post do %>
                      <svg class="event-card-action-icon js-add-to-bookmark icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg>
                    <% end %>
                  </li>
                  <li>
                    <a href="">
                      <i class="fa fa-share"></i>
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="map" data-markers="<%= @markers.to_json %>">
</div>

</div>
