<div <%= @place.title %> ></div>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @place.photo %>');">
<div class="description">
    <h1><%= @place.title %></h1>
    <p>Category: <%= @place.category %></p>
    <p>Address: <%= @place.address.split(",").second%> <%= @place.address.split(",").third%> <%= @place.address.split(",").fourth%> <%= @place.address.split(",").fifth%>
    <p>Age range: <%= @place.min_age %> to <%= @place.max_age %></p>
</div>
</div>
</div>
<div>
<%= link_to "Go back", places_path %>
</div>

