<div class="container">
  <div class="card margin-top" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('<%= @place.photo %>');">
    <div class="description">
      <div class="events-show-form">
        <%= link_to list_places_path(list_place: {list_place: @place.id}), class: "empty-bucket", method: :post do %>
          <%= image_tag("empty-bucket.png") %>
        <% end %>

      </div>
      <% if @place.events.empty? %>
        <h1><%= @place.title %> </h1>
      <% else %>
        <h1><%= @place.events.first.title %> </h1>
      <% end %>
      <p><%= @place.description %></p>
      <p>Category: <%= @place.category %></p>
      <p>Address: <%= @place.address.split(",").second%> <%= @place.address.split(",").third%> <%= @place.address.split(",").fourth%> <%= @place.address.split(",").fifth %>
      <p>Age range: <%= @place.min_age %> to <%= @place.max_age %></p>
      <% if @place.events.empty? %>
        <%=  link_to "Check their website for more info", @place.link, :target => "_blank" %>
      <% else %>
        <%= link_to "Check their website for more info", @place.events.first.link, :target => "_blank" %>
      <% end %>
    </div>
  </div>

  <div class = container>
    <%= link_to "Go back", events_path %>
    <%= social_share_button_tag(@place.title, :allow_sites => %w(twitter facebook google_plus tumblr pinterest)) %>
  </div>

  <div class = container>
    <div class="responsive">
      <div
        id="map"
        style="width: 100%; height: 400px;"
        data-markers="<%= @markers.to_json %>"
      >
      </div>
    </div>
  </div>
</div>

