
<div class = container>
  <div <%= @place.title %> ></div>
  <div class="card margin-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @place.photo %>');">
    <div class="description">
      <h1><%= @place.title %></h1>
      <p>Category: <%= @place.category %></p>
      <p>Address: <%= @place.address.split(",").second%> <%= @place.address.split(",").third%> <%= @place.address.split(",").fourth%> <%= @place.address.split(",").fifth%>
        <p>Age range: <%= @place.min_age %> to <%= @place.max_age %></p>
    <p><%= link_to "Check their website for more info", @place.link, :target => "_blank" %></p>
      </div>
    </div>
  </div>
</div>
<div class = container>
  <%= simple_form_for (@list_place) do |f| %>
  <%= f.hidden_field :list_place, :value => @place.id  %>
  <%= f.submit value: "Add to your BucketList", class: "btn btn-primary btn-lg button" %>
  <% end %>
  <%= link_to "Go back", places_path%>
</div>
</div>
<div class = container>
  <div class="responsive">
    <div id="map"
    style="width: 100%;
    height: 400px;"
    data-markers="<%= @markers.to_json %>">
  </div>
</div>
</div>

