<% content_for :meta_title, "#{@place.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @place.description %>



<div class="container">
  <div class="show-wrapper">
    <div class="row row-adjustment">
      <div class="col-md-7 image-event"  style="background-image: linear-gradient(-225deg, #101010 0%, rgba(0,36,61,0.5) 0%), url('<%= cl_image_path(@place.photo) %>'); background-size: cover">
        &nbsp;
      </div>
      <div class="col-md-5 col-adjustment">
        <div class="header-event">
          <h1><span><%= @place.title %></span></h1>
          <p class="event-category"><span> <%= @place.category %></span> </p>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container container-margin-top">
    <div class="flex-desc">
      <div class="event-desc">
        <h4>DETAILS</h4>
        <p><b>About this place:</b> <%= @place.description %></p>

        <p><b>Address:</b>  <%= @place.address %></p>
        <div class="price">
          <p><b>Recommended age:</b> </p>
          <p>from <%= @place.min_age %> to <%= @place.max_age %></p>
        </div>

        <div class="bucket-event-page">

          <%= link_to  list_places_path(list_place: {list_place: @place.id}), class: "btn-crud bucket-image bucket-link", method: :post, remote: true do %>
            <%= image_tag("bucket.png") %>
          <% end %>

          <%= social_share_button_tag(@place.title, :allow_sites => %w(twitter facebook google_plus tumblr pinterest)) %>
        </div>
        <div class="link-show">
          <p><%= link_to " < Back to Search", search_path, class: "btn-back-search" %></p>
          <p><%= link_to "To the Website", @place.link, target: "_blank", class: "btn-show" %></p>
        </div>
        <div class="share-container">
          <div class="share-twitter">

          </div>
        </div>

      </div>
    </div>
  </div>


</div>
</div>


</div>
<div class= "container container-map">
  <div class="responsive">
    <div id="map"
         style="width: 100%;
             height: 400px;"
         data-markers="<%= @markers.to_json %>">
    </div>
  </div>
</div>
