<div class="responsive">
<div class="container_picture">
<div class="banner" <%= @place.title %> ></div>
<div class="description">
    <h1><%= @place.title %></h1>
    <p><%= @place.category %></p>
    <p><%= @place.address %></p>
</div>
</div>
</div>
</div>
<div>
  <%= simple_form_for (@list_place) do |f| %>
  <%= f.hidden_field :list_place, :value => @place.id  %>
  <%= f.submit value: "Add to your BucketList", class: "btn btn-primary btn-lg button" %>
  <% end %>
<%= link_to "Go back", @place %>
</div>
