<div class="responsive">
<div class="container_picture">
<div class="banner" <%= @place.title %> ></div>
<div class="description">
    <h1><%= @place.title %></h1>
    <p><%= @place.category %></p>
    <p><%= @place.address %></p>
</div>
</div>
</div>
</div>
<div>
<%= link_to "Go back", @place %>

</div>
