<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Playfinder</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Shadows+Into+Light" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

  </head>
  <body>
    <svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-bucket" viewBox="0 0 30 30">
<title>bucket</title>
<path d="M16.5 1.5c-7.362 0-11.997 2.388-11.685 4.425 0.090 0.584 0.338 2.918 0.651 4.91-3.607 1.401-4.803 3.674-4.643 5.526 0.19 2.191 2.161 4.538 6.492 4.943 2.472 0.231 5.446-1.125 7.374-3.442-0.183-0.31-0.29-0.675-0.29-1.060 0-1.161 0.94-2.1 2.1-2.1 1.161 0 2.1 0.94 2.1 2.1 0 1.143-0.915 2.071-2.054 2.097-2.294 2.96-5.787 4.746-9.096 4.538 0.076 0.486 0.105 1.42 0.144 1.67 0.135 0.869 3.52 3.39 8.905 3.396 5.385-0.006 8.77-2.528 8.907-3.395 0.132-0.865 2.461-17.114 2.778-19.18 0.312-2.037-4.325-4.425-11.685-4.425zM2.915 16.178c-0.083-0.965 0.682-2.247 2.886-3.209 0.316 2.010 0.661 4.195 0.965 6.111-2.406-0.47-3.747-1.724-3.85-2.902zM16.5 9.036c-5.385-0.003-9.205-2.001-9.205-2.748-0.003-0.741 3.82-2.685 9.205-2.682 5.385-0.003 9.209 1.941 9.205 2.682 0 0.747-3.82 2.745-9.205 2.748z"></path>
</symbol>
<symbol id="icon-user" viewBox="0 0 32 32">
<title>user</title>
<path d="M18 22.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z"></path>
</symbol>
</defs>
</svg>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag "map" %>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  </body>
</html>
